<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.levon.toolhub.module.tool.mapper.ToolPricePlanMapper">

    <resultMap id="BaseResultMap" type="com.levon.toolhub.module.tool.entity.ToolPricePlan">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="toolId" column="tool_id" jdbcType="BIGINT"/>
            <result property="planName" column="plan_name" jdbcType="VARCHAR"/>
            <result property="planCode" column="plan_code" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="pricePeriod" column="price_period" jdbcType="TINYINT"/>
            <result property="customPeriod" column="custom_period" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="features" column="features" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="createId" column="create_id" jdbcType="BIGINT"/>
            <result property="updateId" column="update_id" jdbcType="BIGINT"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tool_id,plan_name,
        plan_code,price,price_period,
        custom_period,description,features,
        sort_order,create_id,update_id,
        create_date,update_date,is_delete
    </sql>
</mapper>
